@import "general-style.css";


main {
  display: flex;
}

/* article布局 */
article {
  flex: 4;
  background-color: rgba(150, 150, 150, 0.3);
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  margin-bottom: auto;
  padding: 0 2rem 2rem 2rem;
}

article p {
  text-indent: 2rem;
  /* letter-spacing: 0.1rem; */
  margin: 0;
}

/* aside布局 */
aside {
  flex: 1;
  background-color: rgba(150, 150, 150, 0.3);
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  margin-left: 2rem;
  margin-bottom: auto;
}

aside div, aside ul {
  padding: 0 1%;
}

aside figure {
  text-align: center;
  margin: 0 auto;
  font-family: '宋体', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

aside img {
  width: 65%;
  border-radius: 180px;
}

aside img:hover {
  transform: rotate(360deg);
  transition: 1.5s;
}

aside ul {
  list-style-type: none;
  text-align: center;
}

aside li{
  padding-bottom: 0.5rem;
  background-color: rgba(178, 214, 247, .3);
  box-shadow: rgba(29, 29, 29, 0.568);
  border: 1px solid gray;
}

aside li:hover {
  background-color: rgba(104, 126, 250, 0.295);
  box-shadow: 0 0 10px white;
  transition-duration: 500ms;
}

aside li>a {
  color: skyblue;
}

aside li>a:hover {
  padding-left: 1rem;
}


/* ============================需要重新写============== */
.images {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 200px;
}

figure {
  /* border: thin #c0c0c0 solid; */
  /* display: flex; 已经继承*/
  flex-flow: column;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(29, 29, 29, 0.568);
  padding: 5px;
  max-width: 250px;
  margin: 5px;
}

figure:hover {
  background-color: rgba(255, 253, 255, 0.5);
}

svg {
  max-width: 250px;
  max-height: 100px;
  border-radius: 10px;
}

svg+figcaption {
  background-color: rgba(100, 92, 92, .7);
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}