@import "general-style.css";

main {
  display: flex;
  flex-direction: row-reverse;
}

/* article布局 */
article {
  flex: 4;
  background-color: rgba(150, 150, 150, 0.3);
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  margin-bottom: auto;
  padding: 0 2rem 2rem 2rem;
}

article p {
  text-indent: 2rem;
  /* letter-spacing: 0.1rem; */
  margin: 0;
}

/* 图片布局 */
.images {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 200px;
  margin: 2rem 0;
}

.images figure {
  border: thin solid white;
  /* display: flex; 已经继承*/
  flex-flow: column;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(29, 29, 29, 0.568);
  padding: 5px;
  max-width: 250px;
  margin: rem;
}

.images figure:hover {
  background-color: rgba(255, 253, 255, 0.2);
  box-shadow: 0 0 8px white;
  transition-duration: 200ms;
}

.images figure a > svg {
  max-width: 250px;
  max-height: 100px;
  border-radius: 10px;
}

/* figure a > svg:hover{
  padding-left: 2px;
  box-shadow: 0 0 8px white;
  transition-duration: 200ms;
} */

.images figure > figcaption {
  background-color: skyblue;
  font: italic smaller sans-serif;
  text-align: center;
}

/* aside布局 */
aside {
  position: sticky;
  top: calc(50px + 2vw);
  flex: 1;
  background-color: rgba(150, 150, 150, 0.3);
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  margin-right: 2rem;
  margin-bottom: auto;
}

aside div, aside ul {
  padding: 0 1%;
}

/* 头像个人简介区域 */
aside figure {
  text-align: center;
  font-family: '宋体', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
  margin-top: 1rem;
}

aside img {
  width: 65%;
  border-radius: 180px;
}

aside img:hover {
  transform: rotate(360deg);
  transition: 1.5s;
}

aside figcaption {
  padding-top: 1rem;
}

aside figure ~ p {
  font-size: 0.5rem;
}


/* 目录区域 */
aside ul {
  list-style-type: none;
  text-align: center;
}

aside > ul > p {
  /* border: 1px solid; */
  margin: 0 auto;
}

aside li{
  padding-bottom: 0.5rem;
  background-color: rgba(178, 214, 247, .3);
  box-shadow: rgba(29, 29, 29, 0.568);
  border: 1px solid gray;
  margin: 0 auto;
}

aside li:hover {
  background-color: rgba(153, 168, 252, 0.295);
  box-shadow: 0 0 6px white;
  transition-duration: 300ms;
}

aside li>a {
  color: skyblue;
}

aside li>a:hover {
  padding-left: 1rem;
}
